
    <div>   <router-outlet></router-outlet> </div>
 

    <div class="container-fluid pt-5  " id="how" style="background-image: url(/assets/img/grey_back.jpg);background-color: #f2f2f2;z-index: -10;" >
        <h1 class="text-center">Here's How it works</h1>
           <div id="myCarousel" class="carousel slide mt-5" data-ride="carousel" >
            
            <div class="carousel-inner pb-5 ">
                <div class="carousel-item active">
                  <!-- <img src="images.png" alt="Los Angeles" style="width:100%;"> -->
                  <div class="col-md-4 mx-auto" >
                    <div class="card mb-3" style="background-color: #4d4d4d;color: white;">
                      <div class="card-body mx-auto">
                        <h4 class="card-title text-center">STEP-1 Set your Goal</h4>
                        <img  src="/assets/img/logo_hf.png" class="img-fluid" alt="screenshot" style="size: cover">
                        <p class="text-center  card-text" style="font-size: 20px;"><br>
                            It all starts with a goal. Whether you want to lose weight, build muscle start eating healthy, set a daily budget for you based on your goal.
                        </p> 
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="carousel-item">
                  <!-- <img src="images.png" alt="Chicago" style="width:100%;"> -->
                      <div class="col-md-4 mx-auto" >
                      <div class="card mb-3" style="background-color: #4d4d4d;color: white;">
                        <div class="card-body mx-auto">
                          <h4 class="card-title text-center">STEP-2 Trainers guide you</h4>
                          <img   src="/assets/img/logo_hf.png" class="img-fluid" alt="screenshot"style="size: cover"  >
                          <p class="text-center card-text" style="font-size: 20px;"><br>
                          After setting your goals, it's time to find good guider who lead you to fill your do list.
                              Out huge list of nutritions and trainer will help to full out.
                      </p>  
                        </div>
                      </div>

                    </div>
                </div>
              
                <div class="carousel-item">
                  <!-- <img src="images.png" alt="New york" style="width:100%;"> -->
                  <div class="col-md-4 mx-auto" >
                      <div class="card mb-3" style="background-color: #4d4d4d;color: white;">
                        <div class="card-body mx-auto">
                          <h4 class="card-title text-center">STEP-3 Track and Measure your progress</h4>
                          <img  src="/assets/img/logo_hf.png" class="img-fluid" alt="screenshot"  style="size: cover">
                    <p class="text-center  card-text" style="font-size: 20px;"><br>
                        Track your daily activity, according to your goal and measure your fitness using various tools, provided by us.
                    </p>  
                        </div>
                      </div>
                      </div>
                </div>
              
              <div class="carousel-item">
                  <!-- <img src="images.png" alt="Chicago" style="width:100%;"> -->
                  <div class="col-md-4 mx-auto" >
                      <div class="card mb-3" style="background-color: #4d4d4d;color: white;">
                        <div class="card-body mx-auto">
                          <h4 class="card-title text-center ">STEP-4 Discover the new you</h4>
                          <img src="/assets/img/logo_hf.png" class="img-fluid"  alt="screenshot"  style="size: cover">
                    <p class="text-center card-text" style="font-size: 20px;"><br>
                        Using our experts' advice, you meet your goals and eat healthily and stay fit and healthy along with your family and near and dear friends.    
                    </p>  
                        </div>
                      </div>

                    
                </div>
            </div>
              <a class="carousel-control-prev " href="#myCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon " style="color: darkgray" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class=" carousel-control-next " href="#myCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon " style="color: darkgray" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
        </div>
       </div>
    </div> 

    <div id="story" class=" pt-5" style="background-image: url(/assets/img/stories_back1.jpg);background-size:cover;">
      <h1 class="pb-2 text-center pt-5 pb-5" style="color: beige "> Our Success Stories </h1>

      <!-- <div class="row-sm-1"></div>   -->
      <div class="row pb-5">
        <div class="col-md-4 pb-3">
          <div class="card mx-auto w-75" >
            <img class="card-img-top mx-auto img-fluid w-50 h-50 pt-1" src="/assets/img/p1.png" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">Saikat Debnath</h5>
              <p class="card-text">Former National Level Swimmer, lost 12 kg weight, built muscles*

                "The biggest advantage with HealthFitness is that it has helped me plan my diet well as per my needs and goals"
                </p>
              </div>
          </div>
        </div>     
        
        <div class="col-md-4 pb-3" >
          <div class="card mx-auto w-75 " >
            <img class="card-img-top mx-auto img-fluid w-50 h-50 pt-1" src="/assets/img/p2.png" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">Rachna Vadhera</h5>
              <p class="card-text">27-year old Homemaker. Mother. Lost post-pregnancy weight.

                "I had made up my mind that I had to lose weight. I was seeking guidance when I found this website online."
                </p>
              
              </div>
          </div>
        </div>

        <div class="col-md-4 pb-3" >
          <div class="card mx-auto w-75" >
            <img class="card-img-top mx-auto img-fluid w-50 h-50 pt-1" src="/assets/img/p3.png" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">Ajay Pathak</h5>
              <p class="card-text">54-year old, overcame obesity and lifestyle disorders*

                "I am so inspired and motivated with the change I have seen in myself, not to forget the laudable service from HelthFitness"</p>
              </div>
          </div>
        </div>
       </div>



    </div>