<div id="home" style="background-image: url(/assets/img/images.png);background-size: cover;" class="container-fluid pt-5 mtop pbot" >
    <div class="col-sm-12" >
        <div class="card card-signin  mx-auto " style="border-radius: 1%;width: 35%;">
        <div class="card-body">
        <h4 class="card-title text-center mb-5" >Change Password</h4>
                        
        <form [formGroup]="changePassForm" class="form-signin" (ngSubmit)="onSubmit()" >  
            <div class="form-group">
                    <label for="CurrPass">Enter Current Password</label>
                    <input formControlName="pass" type="password" placeholder="current password" class="form-control" id="CurrPass">
            </div>
            
            <div class="form-group">
                    <label for="NewPass">Enter New Password</label>
                    <input formControlName="newpass" type="password" placeholder="new password" class="form-control" id="NewPass1">
            </div>

            <div class="form-group">
                    <label for="CNewPass">Retype New Password</label>
                    <input formControlName="cnewpass" class="form-control" title="This password must be same as that entered above" type="password" placeholder="new password again" id="CNewPass">
            </div>
            
            <div>
                    <button routerLink="/profile/profileD" onclick="topFunction()" class="btn btn-lg btn-block text-uppercase" style="background-color: green; color:white"  [disabled]="!registerForm.valid || (registerForm.newpass != registerForm.cnewpass)">Change Password</button>
                    <!-- <br><a routerLink="/profile/profileD" ><button onclick="topFunction()" class="btn btn-sm btn-primary btn-block text-uppercase" style="display: inline;">Login</button></a> -->
                    <!-- If password is changed successfully, a toaster should be displayed -->
            </div>
        </form>
                
        </div>
    </div>
    </div>



</div>