<br><br><br><br>
<div class="col-md-12 text-center" >
    <a routerLink="/home/dashboard" ><button onclick="topFunction()" type="button" class="mx-2 btn btn-sm btn-primary active">Dashboard</button></a>
    <a routerLink="/home/waterIntake" ><button onclick="topFunction()" type="button" class="mx-2 btn btn-sm btn-primary active">Water Intake</button></a>
    <a routerLink="/home/sleepManagement" ><button onclick="topFunction()" type="button" class="mx-2 btn btn-sm btn-primary active">Sleep Management</button></a>
</div>

<div><router-outlet ></router-outlet></div>