<div class="container">     
    
        <div class="col-md-12">
            <h1 class="hme-experts-title">Dietitians and Personal Fitness Trainers</h1>
            <p class="hme-experts-description">Want to lose weight, gain muscles, overcome medical conditions, or simply eat better? Get a certified dietitian to design a personalized diet plan that delivers results and fits into your lifestyle.</p>
        </div>
        <hr>
        <div class="card-deck">
            <div class="row my-2">
                <div class="card mx-2">
                    <img src="/assets/img/avatar_trainers.png" alt="Darsh"  class="h-75 w-75 mx-auto my-3">
                    <h2>Darsh Shah</h2>
                    <h4 class="title">Chest Muscle Expert</h4>
                    <h4>Fitness University, Ahmedabad</h4>
                    <div style="margin: 24px 0;">
                        <a href=""><i style="font-size: 1.5vw;" class="fab fa-linkedin"></i></a>  
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-facebook"></i></a> 
                    </div>
                    <h4><button onclick="topFunction()" routerLink="/trainer/profileT">Show Details</button></h4>
                </div>
    
                <div class="card mx-2">
                    <img src="/assets/img/avatar_trainers.png" alt="Darsh" class="h-75 w-75 mx-auto my-3">
                    <h2>Darsh Shah</h2>
                    <h4 class="title">Chest Muscle Expert</h4>
                    <h4>Fitness University, Ahmedabad</h4>
                    <div style="margin: 24px 0;">
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-linkedin"></i></a>  
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-facebook"></i></a> 
                    </div>
                    <h4><button>Show Details</button></h4>
                </div>
    
                <div class="card mx-2">
                    <img src="/assets/img/avatar_trainers.png" alt="Darsh" class="h-75 w-75 mx-auto my-3">
                    <h2>Darsh Shah</h2>
                    <h4 class="title">Chest Muscle Expert</h4>
                    <h4>Fitness University, Ahmedabad</h4>
                    <div style="margin: 24px 0;">
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-linkedin"></i></a>  
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-facebook"></i></a> 
                    </div>
                    <h4><button>Show Details</button></h4>
                </div>
    
                <div class="card mx-2">
                    <img src="/assets/img/avatar_trainers.png" alt="Darsh" class="h-75 w-75 mx-auto my-3">
                    <h2>Darsh Shah</h2>
                    <h4 class="title">Chest Muscle Expert</h4>
                    <h4>Fitness University, Ahmedabad</h4>
                    <div style="margin: 24px 0;">
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-linkedin"></i></a>  
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-facebook"></i></a> 
                    </div>
                    <h4><button>Show Details</button></h4>
                </div>
            </div>
            <div class="row my-2">
                <div class="card mx-2">
                    <img src="/assets/img/avatar_trainers.png" alt="Darsh" class="h-75 w-75 mx-auto my-3">
                    <h2>Darsh Shah</h2>
                    <h4 class="title">Chest Muscle Expert</h4>
                    <h4>Fitness University, Ahmedabad</h4>
                    <div style="margin: 24px 0;">
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-linkedin"></i></a>  
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-facebook"></i></a> 
                    </div>
                    <h4><button>Show Details</button></h4>
                </div>
    
                <div class="card mx-2">
                    <img src="/assets/img/avatar_trainers.png" alt="Darsh" class="h-75 w-75 mx-auto my-3">
                    <h2>Darsh Shah</h2>
                    <h4 class="title">Chest Muscle Expert</h4>
                    <h4>Fitness University, Ahmedabad</h4>
                    <div style="margin: 24px 0;">
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-linkedin"></i></a>  
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-facebook"></i></a> 
                    </div>
                    <h4><button>Show Details</button></h4>
                </div>
    
                <div class="card mx-2">
                    <img src="/assets/img/avatar_trainers.png" alt="Darsh" class="h-75 w-75 mx-auto my-3">
                    <h2>Darsh Shah</h2>
                    <h4 class="title">Chest Muscle Expert</h4>
                    <h4>Fitness University, Ahmedabad</h4>
                    <div style="margin: 24px 0;">
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-linkedin"></i></a>  
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-facebook"></i></a> 
                    </div>
                    <h4><button>Show Details</button></h4>
                </div>
    
                <div class="card mx-2">
                    <img src="/assets/img/avatar_trainers.png" alt="Darsh" class="h-75 w-75 mx-auto my-3">
                    <h2>Darsh Shah</h2>
                    <h4 class="title">Chest Muscle Expert</h4>
                    <h4>Fitness University, Ahmedabad</h4>
                    <div style="margin: 24px 0;">
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-linkedin"></i></a>  
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#"><i style="font-size: 1.5vw;" class="fab fa-facebook"></i></a> 
                    </div>
                    <h4><button>Show Details</button></h4>
                </div>
            </div>
        </div>