<div id="home" style="background-image: url(/assets/img/images.png);background-size: cover;" class="container-fluid pt-5 mtop pbot" >
    <div class="col-sm-12" >
        <div class="card card-signin  mx-auto " style="border-radius: 1%;width: 35%;">
        <div class="card-body">
        <h4 class="card-title text-center" >Register</h4>
                        
        <form [formGroup]="registerForm" class="form-signin" (ngSubmit)="onSubmit()" >  
            <div class="form-group">
                <label for="InputEmail">Email Address</label>
                <input formControlName="Email" type="email" placeholder="Enter Email Address" class="form-control" id="InputEmail" >
            </div>
            <div class="form-group">
                <label for="InputUserName">User Name</label>
                <input formControlName="userName" type="text" placeholder="Enter User Name" class="form-control" id="InputUserName">
            </div>
            <div class="form-group">
                    <label for="InputPass">Password</label>
                    <input formControlName="pass" type="password" title="Your password should have minimum of 8 characters with at least one capital, numeric and a special symbol character." placeholder="Enter Password" class="form-control" id="InputPass">
            </div>
            
            <div class="form-group">
                    <label for="InputCPass">Confirm Password</label>
                    <input formControlName="cpass" class="form-control" title="This password must be same as that entered above" type="password" placeholder="Confirm Password" id="InputCPass">
            </div>
            
            <div>
                    <button onclick="topFunction()" routerLink="/home" class="btn btn-lg btn-block text-uppercase" style="background-color: green; color:white" type="submit" [disabled]="!registerForm.valid || (registerForm.pass != registerForm.cpass)">Register</button>
                    <br> <p class="text-center">Already a member?</p><a routerLink="/login"><button onclick="topFunction()" class="btn btn-sm btn-primary btn-block text-uppercase" style="display: inline;">Login</button></a>
            </div>
        </form>
        </div>
    </div>
    </div>



</div>