.jumbotron {
    margin-top: 5%;
}
.tab-controller-wrap {
    margin-top: 30px;
}
.tab-control, .tab-control:hover, .tab-control.active {
    color: #fff;
    text-decoration: none;
}
.tab-control {
    padding: 10px 20px;
    background-color: #12a5f4;
}
.tab-control:hover {
    background-color: #70c9f8;
}
.tab-control.active {
    background-color: #0a6392;
}
hr {
    border: 1px solid #12a5f4;
}
.tab-wrapper {
    margin-top: 20px;
}
.content-wrapper > div {
    background-color: #fff;
    padding: 20px;
    line-height: 200%;
}
h5 {
    display: inline;
    margin-right: 20px;
}
p {
    padding: 10px;
}
p:nth-child(3) {
    background-color: #ffff84;
}
p:nth-child(4) {
    background-color: #7fff7f;
}
p:nth-child(5) {
    background-color: #ffa366;
}
p:nth-child(6) {
    background-color: #ff7f7f;
}
p:nth-child(7) {
    background-color: #f66;
}
p:nth-child(8) {
    background-color: #ff4c4c;
}

#s{
    background-image: url("/assets/img/black-background.jpg");
}